.heroBanner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../assets/webp/header-home.webp");
    background-size: cover;
    height: 400px;
    padding: 0 var(--padding-mobile);

    @media screen and (min-width: 1025px) {
        height: 632px;
    }
}

.heroBanner-title {
    color: white;
    font-size: 2em;

    @media screen and (min-width: 1025px) {
        font-size: 3em;
        font-weight: 800;
        max-width: 800px;
        margin-top: 80px;
    }
}