.heroBanner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../assets/header-home.webp");
    background-size: cover;
    height: 500px;
    padding: 0 24px;
}

.heroBanner-title {
    color: white;
    font-size: 32px;
    margin: 0;
}