header {
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.7em;
}

nav>img {
    height: 72px;
    width: 130px;
    object-fit: contain;

    @media screen and (min-width: 1025px) {
        height: 100%;
        width: 220px;
    }
}

.nav-ul {
    display: flex;
    align-items: center;
}

.nav-li {
    font-size: 1.5em;
    color: white;
    font-weight: 800;
    margin-right: 20px;
}