.btn-gradient, .transparant {
    display: block;
    color: white;
    font-weight: 700;
    letter-spacing: var(--letter-spacing);
    width: 100%;
    padding: 20px 0;
    font-size: 0.8em;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.btn-gradient {
    position: relative;
    background: var(--primary-color);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.btn-gradient::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 28px;
    height: 100%;
    width: 100%;
    transform: scale(1.1) rotate(-12deg);
    background-color: rgba(255, 255, 255, 0.15);

}

.btn-gradient:hover, .transparant:hover {
    transform: scale(1.1);
}

.transparant:hover {
    background-color: white;
    color: black;
}

.learn-more {
    @media screen and (min-width: 1025px) {
        max-width: 250px;
    }
}

.transparant {
    border: 1px solid white;
}

.all-jobs {
    @media screen and (min-width: 1025px) {
        max-width: 250px;
        letter-spacing: 2px;
    }
}

.locate-training {
    @media screen and (min-width: 1025px) {
        max-width: 260px;
        letter-spacing: 2px;
    }
}