#job {
    position: relative;
    background-image: url(../../assets/webp/bg-gradient.webp);
    background-size: contain;
    color: white;
    padding: 0 var(--padding-mobile);
    padding-top: 50px;
    padding-bottom: 270px;

    @media screen and (min-width: 1025px) {
        padding: 80px 120px 270px 120px;
    }
}

.job-center-box {
    @media screen and (min-width: 1025px) {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}


.job-title {
    font-size: 1.9em;
    margin-bottom: 30px;

    @media screen and (min-width: 1025px) {
        font-size: 2.4em;
        margin-bottom: 10px;
        font-weight: 900;
    }
}

.job-text {
    margin-bottom: 35px;

    @media screen and (min-width: 1025px) {
        max-width: 790px;
        font-size: 1.05em;
        color: gainsboro;
        letter-spacing: 1.4px;
    }
}

.carousel {
    position: absolute;
    left: 0;
    margin-top: 60px;
    width: 100%;
    padding-left: inherit;
    box-sizing: border-box;
}

.carousel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 25px;
    box-sizing: border-box;
    width: 100%;

    @media screen and (min-width: 1025px) {
        padding-right: 100px;
    }
}

.carousel-title {
    font-size: 1.9em;
}

.arrows-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider {
    width: 100%;
    margin-top: 25px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.slider::-webkit-scrollbar {
    display: none;
}