#job {
    position: relative;
    background-image: url(../../assets/webp/bg-gradient.webp);
    background-size: contain;
    color: white;
    padding: 0 var(--padding-mobile);
    padding-top: 50px;
    padding-bottom: 270px;
}

.job-title {
    font-size: 1.9em;
    margin-bottom: 30px;
}

.job-text {
    margin-bottom: 35px;
}

.carousel {
    position: absolute;
    margin-top: 60px;
}

.carousel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel-title {
    font-size: 1.9em;
}

.arrows-container {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
}

.slider {
    width: 100%;
    margin-top: 25px;
    display: flex;
    align-items: center;
    overflow: hidden;
}