.burger {
    margin-right: 25px;
}

.burger-bar {
    display: block;
    height: 4px;
    width: 25px;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 5px;

    @media screen and (min-width: 1025px) {
        height: 5px;
        width: 35px;
        margin-bottom: 9px;
    }
}

.burger-bar:nth-child(2) {
    width: 17px;

    @media screen and (min-width: 1025px) {
        width: 27px;
    }
}

.burger-text {
    font-size: 0.7em;
    color: white;
    font-weight: bold;

    @media screen and (min-width: 1025px) {
        font-size: 0.8em;
        text-align: left;
    }
}