.stats {
    margin-top: 40px;

    @media screen and (min-width: 1025px) {
        position: absolute;
    }
}

.stats-number {
    font-size: 65px;
    font-weight: 900;
    text-align: left;
    background: var(--primary-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description {
    position: relative;
    text-align: left;
    padding-left: 20px;
}

.description::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    background: var(--primary-color);
    left: 0;
}

.stats-title {
    font-weight: 900;
    letter-spacing: var(--letter-spacing);

    @media screen and (min-width: 1025px) {
        max-width: 200px;
    }
}

.stats-subtitle {
    margin: 0;
    color: gray;

    @media screen and (min-width: 1025px) {
        max-width: 250px;
    }
}

@media screen and (min-width: 1025px) {
    #stats-container .stats:nth-child(1) {
        top: -80px;
        right: -40px;
    }

    #stats-container .stats:nth-child(2) {
        top: 100px;
        left: 50px;

    }

    #stats-container .stats:nth-child(3) {
        top: 220px;
        right: -180px;
        z-index: 5;
    }
}